@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Visualização de Dados Abertos</h1>
    <p class="lead">Projeto de Iniciação Cientifica da UFF, Rio das ostras</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Transporte</h2>
        <p>
            Visualize dados de transporte em tempo real
        </p>
        <p><a class="btn btn-default" href="/Transporte">Acessar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div ng-app="">

        <p>Input something in the input box:</p>
        <p>Name: <input type="text" ng-model="name"></p>
        <p ng-bind="name"></p>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>
