
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Map</h2>
<div ng-app="map" ng-controller="mapController">
    <ul>
        <li ng-repeat="item in Items">{{item.Nome}}</li>
    </ul>
</div>
<p>
    @ViewBag.Teste
</p>

