<nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/Ferramenta/Home">Ferramenta</a></li>
        <li class="dropdown">
            <a class="navbar-brand" data-toggle="dropdown" href="#">Exemplos <span class="caret"></span></a>
            <ul class="dropdown-menu" role="navigation">
                <li><a href="/Transporte/LinhaOnibus">Onibus</a></li>
                <li><a href="/Transporte/Brt">Brt</a></li>
            </ul>
        </li>
        <li><a class="navbar-brand" href="/Documentacao/Index">Documentação</a></li>
    </ul>
    <a class="navbar-brand" style="float:right" href="/Login/Sair">Sair</a>
    <a class="navbar-brand" style="float:right" href="/Perfil/Index">Olá, @Request.Cookies["info"]["user"]</a>
</nav>  
