@{
    ViewBag.Title = "Visualização de dados";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="panel panel-default col-md-6" style="padding: 0px;">
    <div class="panel-heading">
        <label class="panel-title">Endpoints</label>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6"><label>Endereço:</label></div>
            <div class="col-md-6"><input type="text" id="domain" class="form-control" value="@(ViewBag.dominio)" /></div>
        </div>
        <div class="row">
            <div class="col-md-6"><label>Dataset Geográfico:</label> </div>
            <div class="col-md-6"><input type="text" maxlength="9" id="ds_geo" class="form-control" value="@(ViewBag.id)" /> </div>
        </div>
        <div class="row">
            <div class="col-md-6"><label>Dataset de Dados:</label> </div>
            <div class="col-md-6"><input type="text" maxlength="9" id="ds_dados" class="form-control" /> </div>
        </div>
        <div class="row">
            <div class=col-md-1><button id="btn_acesso" class="btn btn-primary">Acessar Datasets</button></div>
        </div>

    </div>
</div>

<div id="map" class="col-md-6"></div>

<div class="panel panel-default col-md-6" style="padding:0px;">
    <div class="panel-heading">
        <label class="panel-title">Atributos Identificadores</label>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6"><label>Identificador Das Áreas:</label></div>
            <div class="col-md-6">
                <select id="select_geo" class="form-control"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><label>Posição Geográfico:</label> </div>
            <div class="col-md-6">
                <select id="select_dados" class="form-control"></select>
            </div>
        </div>
        <div class="row">
            <div class=col-md-1><button id="btn_visualizacao" class="btn btn-primary">Gerar Visualização</button></div>
        </div>
    </div>
</div>

<div class="panel panel-default col-md-6" style="padding: 0px;">
    <div class="panel-heading">
        <label class="panel-title">Instruções</label>
    </div>
    <div class="panel-body">
        <label>
        </label>
        <label>
        </label>
    </div>
</div>


<div class="col-md-6">
    <div class="row">
        <div class="col-md-9">
            <label class="label label-warning">
                A ferramenta pode demorar a gerar o mapa se o dataset for muito grande
            </label>
        </div>
        <div class="col-md-1">
            <button id="btn_export" class="btn btn-primary">Exportar Mapa</button>
        </div>
    </div>
    <label id="lb_avisos" class="label label-warning"></label>
    <label id="lb_rows_contador" class="label label-warning"></label>
</div>
    
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/Ferramenta/soda-js.bundle.js"></script>
<script src="~/Scripts/Ferramenta/funcoes-area.js"></script>
<script src="~/Scripts/FileSaver/FileSaver.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyD9UfBAMHF2QhemIgsbX52OtYs8yslpsZ8&callback=initMap"></script>
