body{
    padding-top:60px;
}
.row{
    padding:3px;
}
.panel{
    border-color: lightgrey; 
}
.ddList{
    min-width:100px;
}
#map {
    overflow:hidden;
	float: right;
	height: 500px;	
    width: 550px;
}